# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# firebase
firebase-debug.log
firebase-debug.*.log
.firebase/
.firebase-tmp/
.firebase-emulator-cache/
.firebase-functions/
.firebase-functions-tmp/
.firebase-functions-tmp-*.zip
.firebase-functions-tmp-*.tar.gz
.firebase-functions-tmp-*.tgz
